/* color palette from https://colorhunt.co/palette/213547 */

body {
  background-color: #eeeeee;
}

hr {
  border-style: dotted none none none;
  border-color: #19d3da;
  border-width: 5px;
  width: 3%;
}

h1 {
  color: #686d76;
}

h3 {
  color: #686d76;
}
